In [1]:
import pandas as pd
from datetime import datetime
import time

In [9]:
date_series = pd.date_range(start="2018-01-01", end=datetime.today(), freq='30min').to_pydatetime().tolist()

In [10]:
date_series[:5]

[datetime.datetime(2018, 1, 1, 0, 0),
 datetime.datetime(2018, 1, 1, 0, 30),
 datetime.datetime(2018, 1, 1, 1, 0),
 datetime.datetime(2018, 1, 1, 1, 30),
 datetime.datetime(2018, 1, 1, 2, 0)]

In [11]:
time_series = []
for time in date_series:
    converted_time = time.strftime('%a %m-%d-%Y, %I:%M:%S %p')
    time_series.append(converted_time)

In [12]:
time_series[:5]

['Mon 01-01-2018, 12:00:00 AM',
 'Mon 01-01-2018, 12:30:00 AM',
 'Mon 01-01-2018, 01:00:00 AM',
 'Mon 01-01-2018, 01:30:00 AM',
 'Mon 01-01-2018, 02:00:00 AM']

In [13]:
timestamps = []
for time in date_series:
    unixtime = time.timestamp()
    timestamps.append(unixtime)

In [14]:
timestamps[:5]

[1514793600.0, 1514795400.0, 1514797200.0, 1514799000.0, 1514800800.0]

In [16]:
data = pd.read_csv('../Data/sac_crime.csv')

In [20]:
results = []
for i in range(len(time_series)):
    if time_series[i] in list(data['Occurence_Date']):
        results.append(1)
    else:
        results.append(0)

In [26]:
time_dict = {'Date':time_series, 'Crime':results}

In [27]:
time_df = pd.DataFrame(time_dict)

In [28]:
time_df

                              Date  Crime
0      Mon 01-01-2018, 12:00:00 AM      1
1      Mon 01-01-2018, 12:30:00 AM      1
2      Mon 01-01-2018, 01:00:00 AM      1
3      Mon 01-01-2018, 01:30:00 AM      0
4      Mon 01-01-2018, 02:00:00 AM      1
...                            ...    ...
43419  Tue 06-23-2020, 01:30:00 PM      0
43420  Tue 06-23-2020, 02:00:00 PM      0
43421  Tue 06-23-2020, 02:30:00 PM      0
43422  Tue 06-23-2020, 03:00:00 PM      0
43423  Tue 06-23-2020, 03:30:00 PM      0

[43424 rows x 2 columns]

In [34]:
Day_of_the_Week = []
Month = []
Day_of_the_Month = []
Year = []
Hour = []
Minute = []

for i in range(len(time_df)):
        entered_date = datetime.strptime(time_df['Date'][i], '%a %m-%d-%Y, %I:%M:%S %p')
        day_of_week = entered_date.strftime('%u')
        month = entered_date.strftime('%m')
        day_month = entered_date.strftime('%d')
        year = entered_date.strftime('%Y')
        hour = entered_date.strftime('%H')
        minute = entered_date.strftime('%M')
        Day_of_the_Week.append(day_of_week)
        Month.append(month)
        Day_of_the_Month.append(day_month)
        Year.append(year)
        Hour.append(hour)
        Minute.append(minute)

time_df['Day_of_the_Week'] = Day_of_the_Week
time_df['Month'] = Month
time_df['Year'] = Year
time_df['Day_of_the_Month'] = Day_of_the_Month
time_df['Hour'] = Hour
time_df['Minute'] = Minute

In [35]:
time_df.tail()

,Date,Crime,Day_of_the_Week,Month,Year,Day_of_the_Month,Hour,Minute
43419,"Tue 06-23-2020, 01:30:00 PM",0,2,06,2020,23,13,30
43420,"Tue 06-23-2020, 02:00:00 PM",0,2,06,2020,23,14,00
43421,"Tue 06-23-2020, 02:30:00 PM",0,2,06,2020,23,14,30
43422,"Tue 06-23-2020, 03:00:00 PM",0,2,06,2020,23,15,00
43423,"Tue 06-23-2020, 03:30:00 PM",0,2,06,2020,23,15,30

In [36]:
time_df.to_csv('day_and_crime.csv', index=False)